@import url('https://fonts.googleapis.com/css?family=Merriweather');
html
{
  color: #f2f2f2;
}
body
 {
  font-family: "Merriweather";
  font-size: 12px;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  margin-top: 70px;
  color: #f2f2f2;
}
a
{
  text-decoration: none;
}
a:hover, a:focus
{
color: white;
text-decoration: line-through;
text-decoration-color: black;
}
p {
  line-height: 28px;
  margin-bottom: 25px;
}
.centered
{text-align: center}

hr {
  display: block;
  height: 1px;
  border 0px;
  border-top: 1px solid;
  margin: 1em 0;
  padding: 0;
}

.navbar {
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 5px;
}
.navbar-brand {
  font-size: 25px;

}
.navbar-inverse {
  background-image: url("../../images/bg-header.jpg");
  background-size: cover;
  border-color: #2d2d2d;
}
#headerwrap {
background: url("../images/bg.jpg") no-repeat center top;
margin-top:-5px;
padding-top: 20px
text-align: center;
background-attachment: relative:
background-position: center center;
min-height: 500px;
width: 100%;
}
.w h4 {
  font-size: 20px;
  text-shadow: 10px 10px 10px black, -2px -2px 2px black;
}
.w p {
color: white;
text-shadow: 4px 4px 4px black, -4px -4px 4px black;
}
#dg
{
  background-image: url("../../images/bg-header.jpg");
  background-size:cover;
  padding-top: 70px;
  text-align: center;
  margin top:20px;
}
img
{
width: 100px;
}
.tilt {
  transition: all 5s ease;
}
.tilt:hover {
  transform: rotate(-1060deg);
}
